<!doctype html>
<html lang = 'pl'>
<head>
    <meta charset = 'utf-8'/>
    <title>Wpisz opinię</title>
    <link rel="stylesheet" href="style.css" type="text/css"/>

</head>
<body>
<div id="container">
    <div id="content">
        <h1>Magiczne opinie oparte na Sztucznej Inteligencji!</h1>
        <br/>
        <form method = "post", action = "#">
            <p>Wpisz twoją opinię! <input type='text' name="wpisz_opinie" placeholder="Wpisz ..."/></p>
            <br/>
            <p><input type='submit' value = 'Sprawdź'/></p>
        </form>
    </div>
    <div id="footer">
        Specjalne Podziękowania dla: Lukasz Przybylski &copy

    </div>





</div>
</body>
</html>


