html {
	background:#505D6E url(../images/body4.jpg) no-repeat center center fixed;
	min-height:100%;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}

body {
	background:transparent;
	min-height:100%;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	line-height: 1.5em;
	font-size:14px;
	font-family: Helvetica, Arial, sans-serif;
	color:#fff;
	color:rgba(255,255,255,.8);
	font-weight: normal;
}

/********************************************************/
/*             Sections - universal classes             */
/********************************************************/
.section {
	z-index: 1;
	min-height:420px;
	width: 100%;
	overflow:auto;
	height:100%;
	padding-top:100px;
	padding-bottom:50px;
	display:none;
	top:0;
}
@media (min-width: 768px) {
	.section { padding-top:160px;}
}

/* Show one of sections */
#head {
	display: block;
}


.footer_container
{
font: 20px;
position: fixed;
height: 50px;
}

/********************************************************/
/*                      Typography                      */
/********************************************************/
a { color:#fff; text-decoration: none; }
a:hover, a:active { color:#fff; text-decoration: underline; }
.lead {
	font-weight:normal;
	font-size:1.5em;
	line-height:1.2em;
}

.title,
.subtitle {
	font-family: 'Wire One', Helvetica, Arial, sans-serif;
	font-weight:normal;
	font-size:7em;
	margin-bottom:15px;
	color:#FDF9F4;
	line-height:1em;
}
.subtitle {
	line-height:.5em;
	font-size:4em;
	margin-top:10px;
	margin-bottom:40px;
}

/***********************************************************/
/*                   Inverted theme                        */
/***********************************************************/
.theme-invert {
	color:#222;
	color:rgba(0,0,0,.8);
 }
.theme-invert a {
	color:#000;
}
.theme-invert .btn {
	color:rgba(255,255,255,.8);
}
.theme-invert .btn:hover {
	color:#fff;
}
.theme-invert .btn-link {
	color:rgba(0,0,0,.8);
}
.theme-invert .btn-link:hover, .theme-invert .btn-link:focus, .theme-invert .btn-link:active {
	color:#000
}
.theme-invert .navbar-toggle {
	background: rgba(0, 0, 0, 0.12);
}
.theme-invert .navbar-toggle .icon-bar {
  background: #333;
}
.theme-invert .mainmenu .dropdown-menu a {
	color:#000;
}
.theme-invert .mainmenu .dropdown-menu a:hover {
	background:rgba(0,0,0,.1);
	color:#000;
}

.theme-invert .title,
.theme-invert .subtitle,
.theme-invert .tagline {
	color:#222222;
}

.theme-invert .btn-default {
	background: rgba(0,0,0,.4);
}
.theme-invert .btn-default:hover,
.theme-invert .btn-default:focus,
.theme-invert .btn-default:active,
.theme-invert .btn-default.active {
	background: rgba(0,0,0,.6);
	color:#fff;
}
.theme-invert .btn-primary {
	background: rgba(0,0,0,.2);
}
.theme-invert .btn-primary:hover,
.theme-invert .btn-primary:focus,
.theme-invert .btn-primary:active,
.theme-invert .btn-primary.active {
	background: rgba(0,0,0,.3);
	color:#fff;
}

.theme-invert .thumbnail {
	background-color: rgba(255,255,255,.8);
}
.thumbnail .caption {
	color: inherit;
}



